@import '../base/vars';

@mixin style($clr,$ff,$fs,$fw,$lh){
    color:$clr;
    font-family: $ff;
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
}
%flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    width: 421px;
    margin-left: 150px;
    margin-top:110px;
    @include style($dark,Roboto,48px,400,55px);
}
// @mixin mediaTablet {
//     @media (max-width: 420px){
//         width: 420px;
//         @content;
//     }
// }

    



