@import '../base/vars';
@import '../base/base';


.discoverfeatures {
    width: 1200px;
    margin: auto;
}

.discoverfeatures__row {
    width: 900px;
    margin: auto;
    @media (max-width:420px) {
        width: 420px;
        display: flex;
        flex-direction: column;
    }

    h2 {
        margin-top: 90px;
        @include style($dark, Roboto, 32px, 400, 40px);

        @media (max-width:420px) {
            width: 420px;
            text-align: center;
        }
    }

    p {
        width: 736px;
        margin-top: 17px;
        @include style($dark, Roboto, 20px, 400, 27px);

        @media (max-width:420px) {
            width: 420px;
            display: flex;
            flex-direction: column;
            text-align: center;
        }
    }
    .loyaltytext {
        @include style($dark, Roboto, 16px, 400, 25px);
    }

    .opacitytext {
        @include style(#BBB8B5, Roboto, 16px, 400, 25px);
    }
}

.discoverfeatures__icon2 {
    width: 53px;
    margin-top: 55px;
    @extend %flex;

    @media (max-width:420px) {
        width: 50px;
        display: flex;
        margin: 10px auto;
    }
}

.discoverfeatures__img {
    width: 900px;
    margin: 26px auto;
    @extend %flex;
    @media (max-width:420px) {
        width: 420px;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 90px;
    }
    img {
        width: 437px;
        transition: 5s;
        position: relative;
        z-index: -1;
    }
}

.discoverfeatures__img img {
    transform: scale(1.2);
}

.discoverfeatures__text {
    width: 306px;
    margin-right: 50px;
    @media (max-width:420px) {
        width: 350px;
        margin: 70px auto;
    }
    h2 {
        @include style($dark, Roboto, 32px, 400, 40px);
        @media (max-width:420px) {
            width: 350px;
            margin: auto;
            text-align: center;
        }
    }
    p {
        width: 306px;
        margin-top: 17px;
        @include style($dark, Roboto, 20px, 400, 27px);
        @media (max-width:420px) {
            width: 350px;
            text-align: center;
        }
    }
}

.discoverfeatures__icon {
    width: 130px;
    @extend %flex;
    @media (max-width:420px) {
        width: 140px;
        margin: auto;
    }
    p {
        @include style(#487B94, Roboto, 16px, 400, 25px);
    }

    img {
        width: 20px;
        height: 20px;
        margin-top: 15px;
    }
}